@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono|Poppins:200,500,600,700,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0px;
  height: 100%;
}

a {
  @apply text-primary-300;
  transition-duration: 0.2s;
}

a:hover {
  @apply text-primary-500 underline;
}

.transition {
  transition-duration: 0.2s;
}

.transition-long {
  transition-duration: 0.5s;
}

.modal-closed {
  right: -100%!important;
  transform: rotateY(90deg);
}

.title {
  @apply font-bold text-gray-800 text-lg mb-4;
}

.sub-title {
  @apply font-bold text-gray-600 text-base mb-2;
}

.content {
  @apply text-gray-700 text-base mb-6;
}

/* Markdown */
iframe {
  @apply w-full my-6 shadow-lg;
  height: 400px;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold mt-10 text-black;
}

h1 { @apply text-3xl; }
h2 { @apply text-2xl; }
h3 { @apply text-xl; }
h4 { @apply text-lg; }

p, ul {
  @apply mb-6 text-gray-700;
}

ul {
  @apply mb-6 pl-8;
  list-style: disc;
}

pre {
  @apply bg-gray-800 rounded p-4 text-white mb-6 shadow-lg;
}

table, td, th {
  @apply text-left border border-gray-400 rounded;
}

table {
  @apply w-full mb-6;
}

th, td {
  @apply p-2;
}

blockquote {
  @apply p-4 border-l-4 border-gray-300 my-4;
}

blockquote * {
  @apply m-0 text-gray-600;
}

code:not([class^="language-"]) {
  @apply bg-gray-300 text-primary-500 rounded;
  padding: 2px 4px;
}

img {
  @apply rounded my-6 shadow-lg w-full;
}

@media screen and (max-width: 768px) {
  img {
    width: 100vw;
    max-width: 100vw;
    margin-left: -24px;
    border-radius: 0px!important;
  }
}


@tailwind components;

@tailwind utilities;
