@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Poppins:200,500,600,700,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0px;
  height: 100%;
}

.link {
  @apply text-primary-300;
  transition-duration: 0.2s;
}

.link:hover {
  @apply text-primary-500 underline;
}

.transition {
  transition-duration: 0.2s;
}

.transition-long {
  transition-duration: 0.5s;
}

.modal-closed {
  right: -100%!important;
  transform: rotateY(90deg);
}

.title {
  @apply font-bold text-gray-800 text-lg mb-4;
}

.sub-title {
  @apply font-bold text-gray-600 text-base mb-2;
}

.content {
  @apply text-gray-700 text-base mb-6;
}

@tailwind components;

@tailwind utilities;
